

<body>

  <nav class="navbar fixed-top navbar-expand-sm navbar-light" style="background-color: teal;">
    <a href="#" class="navbar-brand mb-0 h1"><img class="d-inline-block align-top"src="../assets/img/Blason-Senegal.jpg" width="30" height="30"/> KaayVote</a>
    <button
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="/" class="nav-link active">Accueil</a>
        </li>

      </ul>
    </div>
  </nav>

  <section>
    <div class="container">
      <div class="row">
        <p id="p1"><span id="s1">-</span> Voter est un acte Noble et Patriotique</p>
        <p><span id="s2">-</span> Merci d'avoir participer a ces elections</p>
        <p><span id="s3">-</span> Rendez vous a 20H pour les résultats</p>
      </div>
    </div>
  </section>
</body>

